<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Freehand&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
    <title>signin</title>
</head>

<body>
    {% with messages= get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        <h3> Enter your details  </h3>  
        <br>
        <h3> <strong>Sign-in</strong> </h3>
        <form action="/signin" method="post">
            <table class="table">
                <tr>
                    <td><strong>Name</strong> </td>
                    <td><input type="text" name="name" placeholder="your name pls"> </td>
                </tr>
                <tr class="mt-6">
                    <td calss="mt-6"> <strong>Email</strong> </td>
                    <td> <input type="email" name="email" placeholder="your email pls" size="40"> </td>>
                </tr>

                <tr>

                    <td>
                        <button class="btn btn-success mt-3" type="submit">Come in</button>
                    </td>
                    <td>
                         <a class="btn btn-success mt-3" type="submit"   style="margin-left: 10rem;" href="/signup"> signup page </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

</html>