#container{
    width: 1500px;
    margin: 0 auto;
}
.col1,.col2,.col3{
    width: 450px;
    float: left;
    margin: 2px;
    margin-top: 1rem;
    border-radius: 1rem;
    text-align: center;

}
ol{
    margin-left: -1rem;
}
.col1{
    background-color: rgb(225, 70, 70);
}

.col2{
    background-color: rgb(148, 221, 227);
    margin-left: 5px;
}
.col3{
    background-color: rgb(210, 222, 212);
} 

#special {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
}
